*{ font-family: 'Source Sans Pro', sans-serif; }

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

#start, #pause, #reset {
  min-width: 70px;
}

#langSelect{
  width: 200px;
  float: right;
}

#phraseWrap{
  background-color: #EBEBE4;
}

#phrase{
  font-family: monospace;
  cursor: not-allowed;
  width: 94%;
  padding: 10px;
  border: 0px;
  outline: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  max-height: 400px !important;
  resize: none;
}

#lineCount{
  width: 3%;
  padding-left: 0px;
  margin: 10px 0px 0px 5px;
  list-style-type: none;
  counter-reset: level1;
  float: left;
  border-right: 1px solid #999;
  color: #666;
}

#lineCount li{
  float: right;
  padding-right: 6px;
}

#lineCount li:before {
    content: counter(level1) " "; /*Instead of ". " */
    counter-increment: level1;
}

#keyInput{
  font-family: monospace !important;
  width: 100% !important;
  margin: 30px 0px !important;
  padding: 10px !important;
  font-size: 24px !important;
  min-height: 200px !important;
  max-height: 600px !important;
}

#keyInput.bad{
  background-color: #FFCECE !important;
}

#keyInput.good{
  background-color: #CAEACA !important;
}

#scoreboard {
  height: 70px;
  border-radius: 3px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 10px 6px -6px #ddd;
  -moz-box-shadow: 0 10px 6px -6px #ddd;
  box-shadow: 0 10px 6px -6px #ddd;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
}

#scoreboard div {
  text-align: center;
  height: 68px;
  padding: 5px 0px;
  cursor: pointer;
}

#scoreboard div:hover {
  background-color: #eee;
}

#scoreboard div > span {
  display: block;
  font-size: 27px;
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes shake {
  from, to {
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

.flash {
  animation-name: flash;
}

.shake {
  animation-name: shake;
}

.pulse {
  animation-name: pulse;
}

#score, #mistakes {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}